# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directories
/build
/build_*

# external libs
## libiniloader

## libuv
/3rd_party/libuv/pkg
/3rd_party/libuv/prebuilt

## msgpack
/3rd_party/msgpack/pkg
/3rd_party/msgpack/prebuilt

## libcurl
/3rd_party/libcurl/pkg
/3rd_party/libcurl/prebuilt

## flatbuffers
/3rd_party/flatbuffers/repo

## jemalloc
/3rd_party/jemalloc/pkg
/3rd_party/jemalloc/prebuilt

## rapidjson
/3rd_party/rapidjson/repo

## atframework
/atframework/service/component/config/atframe_services_build_feature.h

# editors
.vscode
.idea
/cmake-build-*

# 3rd party source and building output files
/3rd_party/redis/pkg
/3rd_party/redis/prebuilt
/3rd_party/protobuf/pkg
/3rd_party/protobuf/prebuilt

# protocol
/src/server_frame/protocol/**/*.h
/src/server_frame/protocol/**/*.cc
/src/server_frame/config/excel/pb_header_v3.pb.h
/src/server_frame/config/excel/pb_header_v3.pb.cc
