# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directories
/build
/build_*

# external libs
## libiniloader

## libuv
/3rd_party/libuv/pkg
/3rd_party/libuv/prebuilt

## msgpack
/3rd_party/msgpack/pkg
/3rd_party/msgpack/prebuilt

## libcurl
/3rd_party/libcurl/pkg
/3rd_party/libcurl/prebuilt

## rapidjson

## atframework

# editors
.vscode